# ece script configruation                                 -*- conf -*-

#          version: $Revision: #3 $ $Date: 2013/03/14 $
#           author: torstein@escenic.com
#   last update by: $Author: akp $

########################################################################
# Section I: Variables you probably want to change or at least verify
# make sense.
########################################################################


########################################################################
# Where the escenic content engine itself is installed
########################################################################
ece_home=/opt/escenic/instance/{{instance}}/engine

########################################################################
# Set this one if you're running more than one ECE instance on your
# host. Usually, you'll set it to the instance name. If you're running
# one ECE instance on your system, you may omit this one.
########################################################################
# ece_server=rolling
# ece_server_hostname=quanah.escenic.com

########################################################################
# Setting the java home, yes lowercase is correct ;-)
########################################################################
java_home={{ece_conf.java_home}}

########################################################################
# Possible options are: tomcat, jboss, resin & oc4j
########################################################################
appserver=tomcat

########################################################################
# App server port. If this variable is unset, ece will try to figure
# out the port number by itself. ece-<instance>.conf should override
# this when there's more than one ECE instance on the same host.
########################################################################
appserver_port=8080

########################################################################
# Section II: Variables that are sensible defaults but may be changed
# to accommodate the conventions or tastes of your OS or company.
########################################################################

########################################################################
# Related to the ece script/ECE/hub/search
########################################################################
assemblytool_home=/opt/escenic/assemblytool
cache_dir=/var/cache/escenic/{{instance}}
# The root of all Escenic configuration files (not only ECE)
escenic_conf_dir=/etc/escenic
ece_security_configuration_dir=${escenic_conf_dir}/engine/{{instance}}/security
log_dir=/var/log/escenic/{{instance}}
pid_dir=/var/run/escenic/
rmi_hub_conf=${escenic_conf_dir}/rmi-hub
rmi_hub_home=$ece_home/contrib/rmi-hub
solr_home=/var/lib/escenic/{{instance}}/solr
tmp_dir=/tmp

########################################################################
# When making a deployment, ece will default wise, deploy the EAR
# generated with "ece assemble" on the application server.  The
# webapps included in the EAR can be filtered with the
# global-exclude-webapps property in Assemblytool's configuration file
# assemble.properties.
#
# However, if you wish to use the same EAR on several application
# servers and these shall have different webapps deployed, you may
# define this variable in the instance specific
# ece-[type]-<instance>.conf file, e.g. ece-app1.conf. Only the
# webapps listed here, will be deployed.
#
# Note: this is currently only supported when appserver=tomcat.
# 
# deploy_webapp_white_list="escenic-admin pbe"

########################################################################
# Where to find the various application servers
########################################################################
jboss_home=/opt/jboss
oc4j_home=/opt/oc4j
resin_home=/opt/resin
tomcat_home={{tomcat_home}}

# The tomcat_base may be different from tomcat_home. You set this
# typically where you have several tomcat instances sharing the same
# binaries, just with different data.
# tomcat_base=/opt/tomcat-editor1

#####################################################################
# If you've compiled or installed APR support (native Tomcat
# libraries, using the Apache APR library), you specify the install
# directory here, if not comment it out.
#####################################################################
apr_lib_dir=/usr/lib

########################################################################
# JVM related (the Java Virtual Machine)
########################################################################

########################################################################
# The minimum and maximum heap sizes for the Java process
########################################################################
min_heap_size=2048m
max_heap_size=2048m

########################################################################
# The permgen size is the amount of memory the JVM sets aside to class
# defintions. If you are experiencing constant OutOfMemory
# exceptions/errors and are using EAR deployment, you may want to
# increase these.
########################################################################
min_permgen_size=64m
max_permgen_size=256m

enable_heap_dump=0
enable_remote_debugging=1
remote_debugging_port=5005
enable_remote_monitoring=0
remote_monitoring_port=5792

enable_jrebel=0
jrebel_installation_dir=${tomcat_home}/lib
#####################################################################
# Java will use IPv6 if it's available on the OS. This however, can
# cause problems with applications that insists on using IPv4
# sockets.
#
# If e.g. Tomcat cannot create a socket on a given port (which is not
# taken), you may need to set this one to '1'. Default is '0'.
#####################################################################
force_ipv4=0

#####################################################################
# Ask the JVM to create a heap dump when/if it crashes. 
#####################################################################
enable_heap_dump=1
heap_dump_dir=/var/crash/escenic/{{instance}}

#####################################################################
# Where 'ece -i <instance> backup' will put its snapshot
# backups. Default is /var/backups/escenic.
#####################################################################
backup_dir=/var/backups/escenic/{{instance}}

nhst_server_prefix=test

db_escenic_host={{ece_conf.db.escenic.host}}
db_escenic_user={{ece_conf.db.escenic.user}}
db_escenic_pass={{ece_conf.db.escenic.pass}}
db_escenic_database={{ece_conf.db.escenic.database}}

db_eae_host={{ece_conf.db.eae.host}}
db_eae_user={{ece_conf.db.eae.user}}
db_eae_pass={{ece_conf.db.eae.pass}}
db_eae_database={{ece_conf.db.eae.database}}

db_extra_host={{ece_conf.db.extra.host}}
db_extra_user={{ece_conf.db.extra.user}}
db_extra_pass={{ece_conf.db.extra.pass}}
db_extra_database={{ece_conf.db.extra.database}}

