
databaseProductName=MySQL
filePublicationRoot=/var/lib/escenic/engine/{{instance}}/
webPublicationRoot=http://localhost:8080/
studioExtensionRoot={{ece.config_base}}/{{instance}}/studio-extensions/
customerId=nhst.test.${com.escenic.instance}.{{template_uid | default("default")}}

articlePagePrefix=article
articlePageSuffix=.ece5